<div class="box box-success">
  <div class="box-header with-border">
    <h3 class="box-title"><%= t('helpers.title.provider.edit') %></h3>
  </div>
  <%= render 'form', :provider => @provider %>
</div>