<div class="box">
  <div class="box-header with-header">
    <h1 class="page-header">Lista de Servicios <%= link_to new_service_path(@service), :class => 'btn btn-success' do %>
          <span class="fa fa-plus"></span>
      <% end %></h1>
    <br>
    <%= render 'table', services: @services %>
    <br>
  </div>
</div>
