<div class="box">
  <div class="box-header with-header">
    <h1 class="page-header">Registrar Servicio</h1>

    <div class="box-body">
      <%= render 'form', service: @service %>
      <br>
    </div>
  </div>
</div>