| $("#employees-table").html("#{escape_javascript(render 'list', format: 'html', :employees => @employees)}");
| $('#paginate-container').html("#{escape_javascript(paginate(@employees, remote: true)) }");
| $('.searchResult > .overlay').remove();