<div class="box box-success">
  <div class="box-header with-header">
    <h3 class="page-header">Lista de
      Empleados <%= link_to new_employee_path(@employee), :class => 'btn btn-success' do %>
          <span class="fa fa-plus"></span>
      <% end %></h3>
    <br>
    <br>
    <%= render 'table', :employees => @employees %>
    <br>
  </div>
</div>