| $("#rubros-table").html("#{escape_javascript(render 'list', format: 'html', :rubros => @rubros)}");
| $('#paginate-container').html("#{escape_javascript(paginate(@rubros, remote: true)) }");
| $('.searchResult > .overlay').remove();