<div class="box box-success">
  <div class="box-header with-border box-success">
    <h3 class="box-title">Rubros</h3>
    <%= link_to "<i class=\"fa fa-plus\"></i>".html_safe, new_rubro_path, {:class => "btn btn-sm btn-flat bg-green btn-title", :title => "Agregar Rubro"} %>
  </div>
  <div class="box-body">
    <div class="overlay-wrapper searchResult table-responsive" id="purchase-bills-table">
      <%= render 'list', :rubros => @rubros %>
    </div>
  </div>
</div>