<div class="box">
  <div class="box-header with-header">
    <h1 class="page-header">Registrar Contrato</h1>

    <div class="box-body">
      <%= render 'form', contract: @contract %>
      <br>
    </div>
  </div>
</div>

