<div class="box box-success">
  <div class="box-header with-border">
    <h3 class="box-title"><%= t('helpers.title.sale_bill.new') %></h3>
  </div>
  <%= render 'form', :sale_bill => @sale_bill %>
</div>
