
| $("#users-table").html("#{escape_javascript(render partial: 'list', format: 'html', locals: {users: @users})}");
| $('#paginate-container').html("#{escape_javascript(paginate(@users, remote: true)) }");
| $('.buscador-resultados > .overlay').remove();
