
| $("#users-table").html("#{escape_javascript(render 'list', format: 'html', :users => @users)}");
| $('#paginate-container').html("#{escape_javascript(paginate(@users, remote: true)) }");
| $('.searchResult > .overlay').remove();
