<div class="authform">
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :role => 'form'}) do |f| %>
    <h3>Olvido su Contrase침a?</h3>
    <p>Enviaremos instrucciones para reestablecer su contrase침a.</p>
    <p>Por favor, introduzca su correo electr칩nico.</p>
    <div class="form-group has-feedback">
      <%= f.email_field :email, :autofocus => true, class: 'form-control', :maxlength => 40 %>
      <i class="fa fa-envelope-o form-control-feedback"></i>
    </div>
     <%= f.submit 'Restablecer Contrase침a', :class => 'btn btn-primary btn-block btn-flat' %>
  <% end %>
</div>
