<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <%= render 'table' %>

      <%= link_to 'Nuevo Cliente', new_client_path, :class => 'btn btn-default' %>
    </div>
  </div>
</div>