| $("#clients-table").html("#{escape_javascript(render 'list', format: 'html', :clients => @clients)}");
| $('#paginate-container').html("#{escape_javascript(paginate(@clients, remote: true)) }");
| $('.searchResult > .overlay').remove();