<div class="box box-success">
  <div class="box-header with-header">
    <h1 class="page-header">Lista de Clientes <%= link_to new_client_path(@client), :class => 'btn btn-success' do %>
        <span class="fa fa-plus"></span>
    <% end %></h1>
    <br>
    <%= render 'table', clients: @clients %>
    <br>
  </div>
</div>
