<div class="box box-success">
  <div class="box-header with-header">
    <h1 class="page-header">Registrar Cliente</h1>

    <div class="box-body">
      <%= render 'form', client: @client %>
      <br>
    </div>
  </div>
</div>