<div class="box box-success">
  <div class="box-header with-border">
    <h3 class="box-title"><%= t('helpers.title.purchase_bill.edit') %></h3>
  </div>
  <%= render 'form', :purchase_bill => @purchase_bill %>
</div>
