<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Registrar Factura de compra</h1>
  </div>
</div>
  <br>
  <%= render 'form', purchase_bill: @purchase_bill %>
  <br>
<div>
  <br>
  <%= render 'table' %>
  <br>
</div>