<div class="box box-success">
  <div class="box-header with-border">
    <h3 class="box-title">Lista de Facturas de compras <%= link_to new_purchase_bill_path(@purchase_bill), :class => 'btn btn-success' do %>
          <span class="fa fa-plus"></span>
      <% end %></h3>
  </div>
  <div class="box-body">
    <%= render 'table', purchase_bills: @purchase_bills %>
  </div>
</div>