<div class="box">
  <div class="box-header with-header">
    <h1 class="page-header">Registrar Factura de compra</h1>
    <div class="box-body">
      <%= render 'form', purchase_bill: @purchase_bill %>
      <br>
    </div>
  </div>
</div>