<div class="row">
  <div class="col-lg-3 col-xs-6">
    <div class="small-box bg-aqua">
      <div class="inner">
        <h3>10</h3>
        <p>Usuarios Registrados</p>
      </div>
      <div class="icon">
        <i class="fa fa-user-plus"></i>
      </div>
      <a href="#" class="small-box-footer">Ver Detalles <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <div class="col-lg-3 col-xs-6">
    <div class="small-box bg-green">
      <div class="inner">
        <h3>23</h3>
        <p>Facturas de Compras</p>
      </div>
      <div class="icon">
        <i class="fa fa-file-text"></i>
      </div>
      <a href="#" class="small-box-footer">Ver Detalles <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>
</div>
