| $("#audits-table").html("#{escape_javascript(render 'list', format: 'html', :audits => @audits)}");
| $('#paginate-container').html("#{escape_javascript(paginate(@audits, remote: true)) }");
| $('.searchResult > .overlay').remove();