<div class="box box-success">
  <div class="box-header with-border">
    <h3 class="box-title"><%= t('helpers.title.certification.show') %></h3>
  </div>
  <div class="box-body">

    <div class="field col-md-12 form-group">
      <div class="field col-md-4 form-group">
        <div class="col-md-3">
          <strong>Obra:</strong>
        </div>
        <div class="col-md-8">

        </div>
      </div>

      <div class="field col-md-4 form-group">
        <div class="col-md-4">
          <strong>Fecha:</strong>
        </div>
        <div class="col-md-7">

        </div>
      </div>

    </div>
  </div>
  <div class="box-footer">
    <div class="pull-right">

    </div>
  </div>
</div>
