<p id="notice"><%= notice %></p>

<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <%= render 'table' %>

      <%= link_to 'Nuevo Movimiento de material', new_material_movement_path, :class => 'btn btn-default' %>
    </div>
  </div>
</div>