| $("#material-movements-table").html("#{escape_javascript(render 'list', format: 'html', :material_movements => @material_movements)}");
| $('#paginate-container').html("#{escape_javascript(paginate(@material_movements, remote: true)) }");
| $('.searchResult > .overlay').remove();