<div class="box box-success">
  <div class="box-header with-border">
    <h3 class="box-title"><%= t('helpers.title.material_movement.new') %></h3>
  </div>
  <%= render 'form', :material_movement => @material_movement %>
</div>
