<div class="box box-success">
  <div class="box-header with-border">
    <h3 class="box-title">Registrar Movimiento de Material</h3>
  </div>
  <%= render 'form', material_movement: @material_movement %>
</div>