<div class="box box-success">
  <div class="box-header with-border">
    <h3 class="box-title"><%= t('helpers.title.company_config.index') %></h3>
  </div>
  <%= render 'form', :company_config => @company_config %>
</div>
