<div class="box box-success">
  <div class="box-header with-header">
    <h1 class="page-header">Editar Certificación Interna</h1>

    <div class="box-body">
      <%= render 'form', internal_certification: @internal_certification %>
      <br>
    </div>
  </div>
</div>