<div class="box box-success">
  <div class="box-header with-border box-success">
    <h3 class="box-title">Lista de Certificaciones internas</h3>
    <%= link_to "<i class=\"fa fa-plus\"></i>".html_safe, new_internal_certification_path, {:class => "btn btn-sm btn-flat bg-green btn-title", :title => "Agregar Certificación"} %>
  </div>
  <div class="box-body">
    <div class="overlay-wrapper searchResult table-responsive" id="clients-table">
      <%= render 'list', :internal_certifications => @internal_certifications %>
    </div>
  </div>
  <div class="box-footer clearfix">
    <div id="paginate-container">
      <ul class="pagination pagination-sm no-margin pull-right">
        <%= paginate @internal_certifications %>
      </ul>
    </div>
  </div>
</div>