<div class="box box-success">
  <div class="box-header with-border">
    <h3 class="box-title"><%= t('helpers.title.account_employee.new') %></h3>
  </div>
  <%= render 'form', :account_employee => @account_employee %>
</div>