@import "common";
/*Configuracion para los mensajes en las validaciones*/
.field_with_errors .message {
  color: #D00;
  padding-left: 5px;
  font-size: 12px;
}

/*Asterisco para campos requeridos*/
.form-group.required .control-label:before{
  color: red;
  content:"* ";
  font-size: absolute;
  margin-left: -15px;
}

th.table-actions{
  min-width: 90px;
}

.buscador-listado{
  margin-bottom: 15px;
}

.overlay-wrapper{
  &.buscador-resultados{
    position: relative;
  }
}

th.table-actions{
  width: 50px;
}

.btn-title {
  margin-top: -15px;
  margin-bottom: -10px;
}
