.welcome-login{
  font-family: "myriad-pro",sans-serif;
  font-style: normal;
  font-weight: 250 !important;
  color:#EFEFEF;
  margin-bottom:25px;
  margin-top:100px;
}

/* =====Login=====*/
body[role="login"] {
  font-family: 'Roboto', sans-serif;
	background: #808080;
	background-size: cover;
	color: #EFEFEF
}
[role="login"] .container {
	margin-top: 100px
}

[role="login"] label {
  font-weight: 10px;
	color: #FFFFFF
}
.panel-heading {
	padding: 5px 15px;
}
.form-inline {
	margin: 5px !important;
}
.panel-footer {
	padding: 1px 15px !important;
	color: #A0A0A0 !important;
}
hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #FFF, rgba(0, 0, 0, 0));
	margin: 5px
}
.profile-img {
	margin: 0 auto 10px;
	display: block;
}
.panel-default {
  opacity: .9;
  -webkit-box-shadow: 0px 7px 24px 1px rgba(0,0,0,0.45)!important;
  -moz-box-shadow: 0px 7px 24px 1px rgba(0,0,0,0.45)!important;
  box-shadow: 0px 7px 24px 1px rgba(0,0,0,0.45)!important;
  background: transparent url('http://3rwebtech.com/bg-white.png') repeat scroll 0% 0% !important;
}
