.navbar-default{
    background-color: #942A01 !important;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
  borde-color: #942A01 !important;
}
.on-color{
    color: white;
    font-family: "Source Code Pro", Monaco, monospace;
}
.text-lateral{
  color: white !important;
}