<div class="box">
  <div class="box-header with-header">
      <div class="box-title">Editar Material</div>
  <div class="panel panel-default">
    <br>
    <%= render 'form', material: @material %>
    <br>
  </div>
  </div>
</div>
