<div class="box">
  <div class="box-header with-header">
    <h1 class="page-header">Editar Material</h1>

    <div class="box-body">
      <%= render 'form', :material => @material %>
      <br>
    </div>
  </div>
</div>
