<div class="box box-success">
  <div class="box-header with-header">
    <h1 class="page-header">Lista de
      Materiales <%= link_to new_material_path(@material), :class => 'btn btn-success' do %>
          <span class="fa fa-plus"></span>
      <% end %></h1>
    <br>
    <br>
    <%= render 'table', :materials => @materials %>
    <br>
  </div>
</div>
