| $("#materials-table").html("#{escape_javascript(render 'list', format: 'html', :materials => @materials)}");
| $('#paginate-container').html("#{escape_javascript(paginate(@materials, remote: true)) }");
| $('.searchResult > .overlay').remove();
