<table class="table table-bordered table-condensed">
  <thead>
  <tr>
    <th>Obra</th>
    <th>Fecha</th>
    <th>Recibido</th>
    <th class="table-actions"></th>
  </tr>
  </thead>

  <tbody>
  <% client_certifications.each do |client_certification| %>
      <tr>
        <td><%= client_certification.contract_name %></td>
        <td><%= client_certification.date %></td>
        <td><%= client_certification.received %></td>
        <td>
          <%= link_to "<i class=\"fa fa-eye\"></i>".html_safe, client_certification_path(client_certification), {:class => "btn btn-xs bg-teal btn-flat"} %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
